#md-main-content h1,
#md-main-content h2 {
    font-family: "RobotoSlab Bold"
}

#layoutsTable h1:after,
#md-main-content h1:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 3px solid #d8d8d8;
    z-index: 1
}

body {
    overflow-x: hidden
}

#md-main-content h1 {
    position: relative;
    font-size: 32px
}

#md-main-content h2 {
    font-size: 20px
}

#md-main-content p {
    font-size: 13px;
    font-family: "RobotoSlab Regular"
}

#layoutsTable h1,
#layoutsTable h2 {
    font-family: "RobotoSlab Bold"
}

#md-main-content img {
    max-width: 100%
}

#md-main-content h1:after {
    width: 5rem
}

#md-main-content .img-circle {
    width: 200px;
    height: 200px
}

#layoutsTable h1 {
    position: relative;
    font-size: 32px
}

#layoutsTable h2 {
    font-size: 20px
}

#layoutsTable p {
    font-size: 13px;
    font-family: "RobotoSlab Regular"
}

#layoutsTable img {
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px
}

#layoutsTable h1:after {
    width: 5rem
}

#layoutsTable .img-circle {
    width: 200px;
    height: 200px
}

.FMS_PartTimeCourse ul {
    padding-left: 0 !important
}

.FMS_PartTimeCourse li {
    list-style: none !important
}

.FMS_PartTimeCourse .modal-item-content {
    padding: 0 !important
}

.coimot-modal, .ewtcoi-modal {
	margin-left: 1rem;
	margin-right: 1rem;
}

.coimot-modal img {
	padding: 1rem;
}

.coimot-modal h1,.coimot-modal h2,.coimot-modal h3,.coimot-modal h4 {
	  color: #009899;
}

.ewtcoi-modal h1,.ewtcoi-modal h2,.ewtcoi-modal h3,.ewtcoi-modal h4 {
	  color: #0184e0;
}

.ewtcoi-modal h3, .coimot-modal h3 {
	font-size: 18px !important;
}

.coimot-modal p, .ewtcoi-modal p {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 1rem !important;
}

.coimot-modal ul, .ewtcoi-modal ul {
margin-top: 1rem;
margin-bottom: 1rem;
}

.coimot-modal li, .ewtcoi-modal li {
	list-style: initial;
	margin-left: 2rem;
	font-size: 1rem;
}

.ewtcoi-modal ol {
	margin-left: -1rem;
}

.ewtcoi-modal ol>li {
	list-style: decimal;
	margin-left: 0rem;
	font-size: 1rem;
}

@media screen and (max-width:767px) {
    #md-main-content h1,
    #md-main-content h2 {
        font-family: "RobotoSlab Bold"
    }
    #md-main-content h1 {
        font-size: 28px !important
    }
    #md-main-content h2 {
        font-size: 20px
    }
    #md-main-content p {
        font-size: 16px;
        font-family: "RobotoSlab Regular"
    }
    .designer-modal {
        overflow-x: hidden;
        padding-top: 50px;
        padding-left: 15px;
        padding-right: 15px
    }
}