@import url("https://p.typekit.net/p.css?s=1&k=ufq6usb&ht=tk&f=32205.32207&a=10220475&app=typekit&e=css");

@font-face {
font-family:"stolzl";
src:url("https://use.typekit.net/af/148b9c/00000000000000007735affe/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/148b9c/00000000000000007735affe/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/148b9c/00000000000000007735affe/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"stolzl";
src:url("https://use.typekit.net/af/11d803/00000000000000007735b005/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/11d803/00000000000000007735b005/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/11d803/00000000000000007735b005/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

.tk-stolzl { font-family: "stolzl",sans-serif; }

h1, h1 span, h2, h2 span, h3, h3 span, h4, h4 span, h5, h5 span, h6, h6 span {
    font-family: stolzl, sans-serif;
	font-weight: 700;
	font-style: normal;
}

.tp--container h3 {
    font-family: stolzl, sans-serif;
    font-size: 38px;
}

h5 {
    font-size: 26px;
}

@media screen and (min-width: 992px){
.tp-col-1 .tp--container, .tp-col-2 .tp--container, .tp-col-3 .tp--container, .tp-col-4 .tp--container, .tp-col-5 .tp--container, .tp-col-6 .tp--container, .tp-col-7 .tp--container, .tp-col-8 .tp--container, .tp-col-9 .tp--container, .tp-col-10 .tp--container, .tp-col-11 .tp--container, .tp-col-12 .tp--container {
    /* padding-right: 20px; */
}
}

.tp-custom-container .has-corner-background.has-text-field-component.text .cmp-text {
    background-color: transparent;
    padding: 20px 10px 10px 20px;
}


.red-button {
	background: linear-gradient(124.79deg,#ff4b33 1.06%,#c53642 91.86%)!important
}

#mou-thankyou {
	background-image: url(https://www.tp.edu.sg/content/dam/tp-web/images/research---industry/industry-partners---internships/confetti.gif); 
	background-size: cover;
}

h3 {
	position: relative;	
}

h3 a {
	position:absolute;
	top:-130px;
}

.cmp-home-carousel .tp--carousel-control {
	box-shadow: .125rem .125rem .5rem .1rem rgba(0,0,0,.6)!important
}

.cmp-home-carousel .tp--carousel-indicator .caro-indicator {
	width: 10px !important;
    height: 10px !important;
	background-color: #ffffff !important;
	border: none !important;
	box-shadow: .125rem .125rem .25rem rgba(0,0,0,.4)!important;
}

.cmp-home-carousel .tp--carousel-indicator .caro-indicator.active {
    background-color: #e6162f !important;
    border: none !important;
}

.carousel-indicators li {
	opacity: 1 !important;
}

.btn.tp-black-button {
    background: -webkit-gradient(linear,left top,right top,from(#535353),to(#000));
    background: linear-gradient(
90deg
,#535353,#000);
    border: none;
    color: #fff;
	    padding: 17px 30px;
    border-radius: 50px;
    min-width: 180px;
    min-height: 50px;
    text-align: center;
    font-weight: 700;
    margin: 20px 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: .08em;
    font-family: Roboto,sans-serif;
}


a.tp--sub-mainmenu-link {
	padding:0 5px 0 5px;
	color:#EEE;
}

a.tp--sub-mainmenu-link:hover {
	text-decoration:underline;
    /* background-color: #EEE;
	color:#FFF; */
}


a.tp--sub-mainmenu-title {
	padding:0 5px 0 5px;
}

a.tp--sub-mainmenu-title:hover {
	text-decoration:underline;
    /* background-color: #EEE; */
}

.cmp-main-header .tp--top-header .navbar .nav-item .nav-link {
    padding: 0 12px!important;
}

.entryrequirementtiles .cmp-tiles {
	margin-top:-40px;
	padding: 20px 0;
    position: relative;
}
.cmp-main-footer .tp--tc-footer .tp--footer-name-text {
    font-size: 14px;
    line-height: 18px;
	letter-spacing:2px;
    text-align: right;
    font-family: stolzl, sans-serif;
	font-weight: 700;
}
.coursecontact .title {
    font-family: stolzl, sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: rgb(0, 0, 0);
}